body {
    font-family:Raleway;
    margin:0;
}

main div, main > p {
   padding:1em;
}

#greeting {
   color:#fff;
   background-color:#333;
   text-align:right;
   height:2em;
   padding:0.05em 1em 1em 0em;
}

#greeting a {
  color:#ddd;
  font-weight:bold;
}


#switchOrg {
   display:none;
}

form {
    border:solid #666 dotted;
    border-radius: 5px;
}

#map { height: 180px; }

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

tr:nth-child(even) {
   background-color:#eee;
}

td {
   padding: 0.2em 1em;;
}

.status {
   text-transform:capitalize;
   border-left:solid 2px;
}

.status-new {
  border-color:rgba(103,174,219,0.7);
}