<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>gainslapi</servlet-name>
        <servlet-class>com.digitalcranberry.gainslapi.GainslAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>report</servlet-name>
        <servlet-class>com.digitalcranberry.gainslapi.StoreReport</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>BlobUrl</servlet-name>
        <servlet-class>com.digitalcranberry.gainslapi.BlobUrl</servlet-class>
    </servlet>    
    
<servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.digitalcranberry.gainslapi.Upload</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Serve</servlet-name>
    <servlet-class>com.digitalcranberry.gainslapi.Serve</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ReportList</servlet-name>
    <servlet-class>com.digitalcranberry.gainslapi.ReportList</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>ReportList</servlet-name>
    <url-pattern>/reportList</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Serve</servlet-name>
    <url-pattern>/serve</url-pattern>
  </servlet-mapping>   
   
  <servlet-mapping>
    <servlet-name>BlobUrl</servlet-name>
    <url-pattern>/bloburl</url-pattern>
  </servlet-mapping>    
    
    <servlet-mapping>
        <servlet-name>gainslapi</servlet-name>
        <url-pattern>/gainslapi</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>gainslapi.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>